* {
  margin: 0;
  box-sizing: border-box;
}

html {
  --clr-primary: #7c5b53;
  --clr-primary-dark: #54423d;
  --clr-gray: #818181;
  --clr-yellow: #f6e53a;
  --clr-red: #ff5c5c;
  --clr-pink: #ff79b0;
  --clr-dark: #141414;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Magra', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
}

body {
  line-height: 1.45;
  font-family: 'Roboto', sans-serif;
  font-family: var(--ff-primary);
  color: #141414;
  color: var(--clr-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Magra', sans-serif;
  font-family: var(--ff-secondary);
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 1rem;
}

/* -------------- Utility Classes ----------- */
.d-flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.text-center {
  text-align: center !important;
}
/* -------------- LAYOUT --------------- */
.container {
  padding: 0 1.5rem;
  max-width: 1200px;
  margin: auto;
}

.top-nav__link {
  text-transform: uppercase;
}

.top-nav__link + .top-nav__link {
  margin-left: 2rem;
}

/* ========= MODULES =========== */
.svg-icon {
  width: 1em;
  height: 1em;
  font-size: 1.5em;
}

/* ------------- HEADER ------------------ */
.header__top {
  background: #54423d;
  background: var(--clr-primary-dark);
  padding: 1rem;
}

.header__bottom {
  padding: 1.5rem 0;
  background: #7c5b53;
  background: var(--clr-primary);
  color: #fff;
}

/* ---------------- HERO ------------------ */
.hero {
  padding: 6rem 1.5rem;
}

.hero__text {
  max-width: 500px;
  margin: auto;
}

.hero__title {
  font-size: 3rem;
  font-size: clamp(2.5rem, 5vw, 3rem);
  color: #7c5b53;
  color: var(--clr-primary);
  margin-bottom: 1rem;
}

.hero__para {
  color: #818181;
  color: var(--clr-gray);
}

.hero__img {
  position: relative;
  z-index: 1;
}

.hero .tag::before,
.hero .tag::after {
  content: '';
  width: 20vw;
  height: 20vw;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-25%, 10px);
}

.hero .tag::before {
  background: #f6e53a;
  background: var(--clr-yellow);
  transform: translate(-28%, 18px);
}

.hero .tag::after {
  content: '15% OFF';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.45rem;
  font-size: clamp(1rem, 3vw, 1.75rem);
  font-weight: 600;
  background: rgba(244, 55, 89, 0.9);
  color: #fff;
}

/* ------------ Products Intro -------------- */
.products-intro {
  background: #7c5b53;
  background: var(--clr-primary);
  color: #fff;
  padding: 3rem 0;
  overflow-y: hidden;
}

.products-intro__container {
  display: flex;
  flex-direction: column;
}

.products-intro__text p {
  font-size: 0.9rem;
  opacity: 0.9;
  line-height: 2;
}

.products-intro__heading {
  font-size: 2rem;
}

.products-intro img {
  display: block;
  max-width: 300px;
  margin: auto;
  margin-bottom: 1.5rem;
  order: -1;
}

.products-intro__btn {
  padding: 0.5rem;
  width: 125px;
  text-transform: uppercase;
  font-weight: 600;
  color: #7c5b53;
  color: var(--clr-primary);
  background: #fff;
  border: none;
  outline: none;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .products-intro {
    padding: 0;
  }

  .products-intro__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .products-intro img {
    transform: translateY(40%);
    order: 1;
  }

  .products-intro__text {
    max-width: 650px;
  }
}

/* ------------ Bottom Nav ----------- */
.bottom-nav__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem 0;
  color: #54423d;
  color: var(--clr-primary-dark);
}

.bottom-nav__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  transition: transform 250ms ease;
}

.bottom-nav__group:focus,
.bottom-nav__group:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 600px) {
  .bottom-nav__group {
    margin-bottom: 0;
    width: initial;
  }
}

.bottom-nav__group svg {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.bottom-nav__group span {
  font-size: 1.15rem;
  text-transform: uppercase;
  font-weight: 600;
}

/* ------------ FOOTER ---------- */
.footer {
  background: #f6e53a;
  background: var(--clr-yellow);
  padding: 6rem 0;
  text-align: center;
}

.follow-us {
  margin-bottom: 1rem;
}

.follow-us__box {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0.15rem;
  font-size: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  transition: transform 150ms ease;
}

.follow-us__box:hover,
.follow-us__box:focus {
  transform: scale(1.1);
}
